@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    background: #0B0C10;
    font-family: monospace;
    font-size: 18;
}
.head_bar {
    color:#66FCF1;
    
}

h1 {
    color:#66FCF1;
}

a {
    color:#66FCF1;
    text-decoration:underline;
}

/* unvisited link */

a:link {
    color:#66FCF1;
}

/* mouse over link */

a:hover {
    color: rebeccapurple;
}

/* selected link */

a:active {
    color: blue;
}

p {
    color: #718096;
    text-align: center;
}

label {
    color: #718096;

}

button {
    color: #718096;
}

